@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: #001429;
  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: #001429;
  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: #001429;
  --color-primary: #0056b3;
  --color-primary-foreground: hsl(210 40% 98%);
  --color-secondary: hsl(210 40% 96.1%);
  --color-secondary-foreground: #001429;
  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: #001429;
  --color-destructive: hsl(0 100% 50%);
  --color-destructive-foreground: hsl(210 40% 98%);
  --color-ring: hsl(215 20.2% 65.1%);

  --animate-marquee: marquee 30s linear infinite;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50% - var(--spacing) * var(--gap, 8) / 2));
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: "1";
    }
    20%,
    50% {
      opacity: "0";
    }
  }
}

@layer components {
  section:not(.revert, [aria-label]),
  .section {
    @apply p-4 md:p-8 py-10;
  }
}
